page-more {
  .toolbar-background-md {
    background-color: #f7adcd;
  }

  hr.solid {
    border-top: 1px solid #bbb;
  }

  .medium-text.text-mail {
    position: absolute;
    right: 16px;
    margin-top: 5px;
  }

  .toggle-md.toggle-checked .toggle-icon{
    background-color: #f7adcd;
  }
}
