page-tabs {
  .ion-md-profile {
    content: url('../../assets/img/Group\ 1434.png');
  }

  .ion-md-beauty {
    content: url('../../assets/img/beauty.png');
  }

  .ion-md-track {
    content: url('../../assets/img/woman.png');
  }

  .ion-md-product {
    content: url('../../assets/img/product.png');
  }

  .ion-md-list {
    content: url('../../assets/img/list.png');
  }
}
