page-splash {
    .bottom-img {
        position: absolute;
        background-color: #ffffffde;
      }
    
      .btn {
        width: 55%;
        display: block;
        margin: auto;
      }
    
      .btn-laest {
        position: absolute;
        background: #ffffffde;
        bottom: 0px;
        width: 100%;
        height: 42vh;
      }
    
      img.img-latest {
        margin: auto;
        display: block;
        max-width: 140px;
      }
}
