page-help {
    .header-md::after {
        background-image: none !important
      }
    
      .toolbar-background.toolbar-background-md {
        background: #f8f8f800 !important;
      }

    .para-text{
        padding: 2px;
        text-align: left;
        font-size: 1.7rem;
      }

      .contact-form{
        display: block;
        margin: auto;
        margin-top: 20px !important;
      }
}
